
<!DOCTYPE html>
<html>
<head>
	<title>Hello, World!</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/static/index.css">
</head>
<body>
	<h1>Hello, World!</h1>
		<img src="{{ STATIC_URL }}/static/ii.png"/>
	<h2>It is training site, with it using will be studied technology
	python/django, html/css.</h2>
	<h3>As you see here are used headlines different levels of.</h3>

	<h4>Here is marked list:</h4>
		<h4>
			<ul>
				<li>Element 1;</li>
				<li>element 2;</li>
				<li>element 3;</li>
				<li>last element.</li>
			</ul>
		</h4>
	<h4>And numbered list:</h4>
		<h4>
			<ol>
				<li>Element 1;</li>
				<li>element 2;</li>
				<li>element 3;</li>
				<li>last element.</li>
			</ol>
		</h4>
	<p>And even table:</p>
	<table>
		<thead>
			<tr>
			<th>Item 1</th>
			<th>Item 2</th>
			<th>Item 3</th>
			<th>Item 4</th>
			<th>Item 5</th>
			<th>Item 6</th>
				<th>Item 7</th>
			</tr>
		</thead>
		<tr>
			<td>Line 1 Column 1</td>
			<td>Line 1 Column 2</td>
			<td>Line 1 Column 3</td>
			<td>Line 1 Column 4</td>
			<td>Line 1 Column 5</td>
			<td>Line 1 Column 6</td>
			<td>Line 1 Column 7</td>
		</tr>
		<tr>
			<td>Line 2 Column 1</td>
			<td>Line 2 Column 2</td>
			<td>Line 2 Column 3</td>
			<td>Line 2 Column 4</td>
			<td>Line 2 Column 5</td>
			<td>Line 2 Column 6</td>
			<td>Line 2 Column 7</td>
		</tr>
		<tr>
			<td>Line 3 Column 1</td>
			<td>Line 3 Column 2</td>
			<td>Line 3 Column 3</td>
			<td>Line 3 Column 4</td>
			<td>Line 3 Column 5</td>
			<td>Line 3 Column 6</td>
			<td>Line 3 Column 7</td>
		</tr>
		<tr>
			<td>Line 4 Column 1</td>
			<td>Line 4 Column 2</td>
			<td>Line 4 Column 3</td>
			<td>Line 4 Column 4</td>
			<td>Line 4 Column 5</td>
			<td>Line 4 Column 6</td>
			<td>Line 4 Column 7</td>
		</tr>
		<tr>
			<td>Line 5 Column 1</td>
			<td>Line 5 Column 2</td>
			<td>Line 5 Column 3</td>
			<td>Line 5 Column 4</td>
			<td>Line 5 Column 5</td>
			<td>Line 5 Column 6</td>
			<td>Line 5 Column 7</td>
		</tr>
	</table>
</body>
</html>
