body {
	background: #3aafea;
	font-family: Tahoma, Arial, sans-serif;
	color: #333;
}
table {
	border-collapse: collapse;
	width: 100%;
	border: 2px solid black;
}
p, h4 {
	font-size: 20px;
	margin-bottom: 0;
}
h4 {
	font-size: 16px;
}
ul, ol {
	margin: 0;
}

table tr td {
	padding: 5px;
	border: 2px solid black;
}

img {
	height: 30px;
	width: auto;
}

h1{
	font-family: TimesNewRoman;
}
